
            @media (max-width: 1650px) {
              .nav-link {
                font-size: 0.99vw;
                
              }
            }
            @media (max-width: 1440px) {
              .nav-link {
                font-size: 1.1vw;
                
              }
            }
            @media (max-width: 1150px) {
              .nav-link {
                font-size: 1.1vw;
                font-weight: 600;
              }
            }
       
         
